body {
 background: -webkit-linear-gradient(90deg, #ceddd6,#b9babf,#f1bfa4);
 background: linear-gradient(90deg, #ceddd6,#b9babf,#f1bfa4);
 font-family: Arial, sans-serif;
 text-align: center;
}
h1 {
 color: darkblue;
}